@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @apply font-ncs-font-Kanit;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #262d47;
}
::-webkit-scrollbar-thumb {
  background: #80f0ff;
  border-radius: 20px;
}
::selection {
  color: #1d2238;
  background-color: #18dcff;
}

#ncs-name,
#ncs-name--rps {
  animation: tedt ease-in-out 2.6s infinite;
}

@keyframes tedt {
  0%,
  100% {
    background: -webkit-linear-gradient(right, #32ff7e, #18dcff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    background: -webkit-linear-gradient(right, #18dcff, #32ff7e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
.text-limit {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
